{
  "extends": ["airbnb-typescript/base"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "root": true,
  "settings": {
    "import/extensions": [".js", ".jsx", ".ts", ".tsx"]
  },
  "rules": {
    "indent": "off",
    "@typescript-eslint/indent": ["error", 2],
    "no-underscore-dangle": "off",
    "import/no-cycle": "warn"
  },
  "plugins": ["@typescript-eslint", "mocha"]
}
