{
  "extends": ["airbnb-base", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "root": true,
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "indent": "off",
    "@typescript-eslint/indent": ["error", 2],
    "no-underscore-dangle": "off"
  },
  "plugins": ["@typescript-eslint", "mocha"]
}
